/* styles.css */

.card img {
  width: 100px;
}
.form-row {
  display: flex;
}
.form-group {
  padding: 2px 10px;
}
.label-left {
  align-self: center;
}

/* Add styles here to customize the appearance of your app */